{
    "openapi": "3.1.0",
    "info": {
        "title": "Torn API",
        "description": "\n * The development of Torn's API v2 is still ongoing.\n * If selections remain unaltered, they will default to the API v1 version.\n * Unlike API v1, API v2 accepts both selections and IDs as path and query parameters.\n * If any discrepancies or errors are found, please submit a [bug report](https://www.torn.com/forums.php#/p=forums&f=19&b=0&a=0) on the Torn Forums.\n * In case you're using bots to check for changes on openapi.json file, make sure to specificy a custom user-agent header - CloudFlare sometimes prevents requests from default user-agents.",
        "version": "1.2.0"
    },
    "servers": [
        {
            "url": "https://api.torn.com/v2",
            "description": "This is the base URL"
        }
    ],
    "paths": {
        "/user/attacks": {
            "get": {
                "tags": [
                    "User"
                ],
                "summary": "Get your detailed attacks",
                "description": "Requires limited access key. <br>",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/ApiLimit100"
                    },
                    {
                        "$ref": "#/components/parameters/ApiSort"
                    },
                    {
                        "$ref": "#/components/parameters/ApiTo"
                    },
                    {
                        "$ref": "#/components/parameters/ApiFrom"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/FactionAttacksResponse"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "api_key": []
                    }
                ],
                "x-stability": "Stable"
            }
        },
        "/user/attacksfull": {
            "get": {
                "tags": [
                    "User"
                ],
                "summary": "Get your simplified attacks",
                "description": "Requires limited access key. <br>Returns up to 1,000 rows. <br>",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/ApiLimit1000"
                    },
                    {
                        "$ref": "#/components/parameters/ApiSort"
                    },
                    {
                        "$ref": "#/components/parameters/ApiTo"
                    },
                    {
                        "$ref": "#/components/parameters/ApiFrom"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/FactionAttacksFullResponse"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "api_key": []
                    }
                ],
                "x-stability": "Stable"
            }
        },
        "/user/bounties": {
            "get": {
                "tags": [
                    "User"
                ],
                "summary": "Get bounties placed on you",
                "description": "Requires public access key. <br>",
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/UserBountiesResponse"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "api_key": []
                    }
                ],
                "x-stability": "Stable"
            }
        },
        "/user/{id}/bounties": {
            "get": {
                "tags": [
                    "User"
                ],
                "summary": "Get bounties placed on a specific user",
                "description": "Requires public access key. <br>",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "User id",
                        "required": true,
                        "schema": {
                            "$ref": "#/components/schemas/UserId"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/UserBountiesResponse"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "api_key": []
                    }
                ],
                "x-stability": "Stable"
            }
        },
        "/user/calendar": {
            "get": {
                "tags": [
                    "User"
                ],
                "summary": "Get your competition's event start time",
                "description": "Requires minimal access key. <br>Only available to yourself.",
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/UserCalendarResponse"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "api_key": []
                    }
                ],
                "x-stability": "Stable"
            }
        },
        "/user/{crimeId}/crimes": {
            "get": {
                "tags": [
                    "User"
                ],
                "summary": "Get your crime statistics",
                "description": "Requires minimal access key. <br>Return the details and statistics about for a specific crime.",
                "parameters": [
                    {
                        "name": "crimeId",
                        "in": "path",
                        "description": "Crime id",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/UserCrimesResponse"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "api_key": []
                    }
                ],
                "x-stability": "Stable"
            }
        },
        "/user/enlistedcars": {
            "get": {
                "tags": [
                    "User"
                ],
                "summary": "Get user enlisted cars",
                "description": "Requires minimal access key. <br>Returns a list of all user enlisted cars.",
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/UserEnlistedCarsResponse"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "api_key": []
                    }
                ],
                "x-stability": "Stable"
            }
        },
        "/user/factionbalance": {
            "get": {
                "tags": [
                    "User"
                ],
                "summary": "Get your current faction balance",
                "description": "Requires limited access key. <br>",
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/UserFactionBalanceResponse"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "api_key": []
                    }
                ],
                "x-stability": "Stable"
            }
        },
        "/user/forumfeed": {
            "get": {
                "tags": [
                    "User"
                ],
                "summary": "Get updates on your threads and posts",
                "description": "Requires minimal access key. <br>This selection returns data visible in 'Feed' section on forum page. Feed is sorted by timestamp descending. Only a maximum of 100 rows are returned.",
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/UserForumFeedResponse"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "api_key": []
                    }
                ],
                "x-stability": "Stable"
            }
        },
        "/user/forumfriends": {
            "get": {
                "tags": [
                    "User"
                ],
                "summary": "Get updates on your friends' activity",
                "description": "Requires minimal access key. <br>This selection returns data visible in 'Friends' section on forum page. Feed is sorted by timestamp descending. Only a maximum of 100 rows are returned.",
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/UserForumFriendsResponse"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "api_key": []
                    }
                ],
                "x-stability": "Stable"
            }
        },
        "/user/forumposts": {
            "get": {
                "tags": [
                    "User"
                ],
                "summary": "Get your posts",
                "description": "Requires public access key. <br>Returns 20 posts per page.",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/ApiStripTagsTrue"
                    },
                    {
                        "$ref": "#/components/parameters/ApiLimit20"
                    },
                    {
                        "$ref": "#/components/parameters/ApiSort"
                    },
                    {
                        "$ref": "#/components/parameters/ApiFrom"
                    },
                    {
                        "$ref": "#/components/parameters/ApiTo"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/UserForumPostsResponse"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "api_key": []
                    }
                ],
                "x-stability": "Stable"
            }
        },
        "/user/{id}/forumposts": {
            "get": {
                "tags": [
                    "User"
                ],
                "summary": "Get posts for a specific player",
                "description": "Requires public access key. <br>Returns 20 posts per page for a specific player.",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/ApiStripTagsTrue"
                    },
                    {
                        "name": "id",
                        "in": "path",
                        "description": "User id",
                        "required": true,
                        "schema": {
                            "$ref": "#/components/schemas/UserId"
                        }
                    },
                    {
                        "$ref": "#/components/parameters/ApiLimit20"
                    },
                    {
                        "$ref": "#/components/parameters/ApiSort"
                    },
                    {
                        "$ref": "#/components/parameters/ApiFrom"
                    },
                    {
                        "$ref": "#/components/parameters/ApiTo"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/UserForumPostsResponse"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "api_key": []
                    }
                ],
                "x-stability": "Stable"
            }
        },
        "/user/forumsubscribedthreads": {
            "get": {
                "tags": [
                    "User"
                ],
                "summary": "Get updates on threads you subscribed to",
                "description": "Requires minimal access key. <br>This selection returns data visible in 'Subscribed Threads' section on forum page. Threads are sorted in the same way as on site.",
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/UserForumSubscribedThreadsResponse"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "api_key": []
                    }
                ],
                "x-stability": "Stable"
            }
        },
        "/user/forumthreads": {
            "get": {
                "tags": [
                    "User"
                ],
                "summary": "Get your threads",
                "description": "Requires public access key. <br>Returns 100 threads per page. The field 'new_posts' is also available, indicating the amount of unread posts with a Minimum API key (or higher).",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/ApiLimit100Default20"
                    },
                    {
                        "$ref": "#/components/parameters/ApiSort"
                    },
                    {
                        "$ref": "#/components/parameters/ApiFrom"
                    },
                    {
                        "$ref": "#/components/parameters/ApiTo"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/UserForumThreadsResponse"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "api_key": []
                    }
                ],
                "x-stability": "Stable"
            }
        },
        "/user/{id}/forumthreads": {
            "get": {
                "tags": [
                    "User"
                ],
                "summary": "Get threads for a specific player",
                "description": "Requires public access key. <br>Returns 100 threads per page for a specific player. When requesting data for the key owner, a field 'new_posts' is also available, indicating the amount of unread posts. Minimum API key is required for that.",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "User id",
                        "required": true,
                        "schema": {
                            "$ref": "#/components/schemas/UserId"
                        }
                    },
                    {
                        "$ref": "#/components/parameters/ApiLimit100Default20"
                    },
                    {
                        "$ref": "#/components/parameters/ApiSort"
                    },
                    {
                        "$ref": "#/components/parameters/ApiFrom"
                    },
                    {
                        "$ref": "#/components/parameters/ApiTo"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/UserForumThreadsResponse"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "api_key": []
                    }
                ],
                "x-stability": "Stable"
            }
        },
        "/user/hof": {
            "get": {
                "tags": [
                    "User"
                ],
                "summary": "Get your hall of fame rankings",
                "description": "Requires public access key. <br>When requesting selection with Limited, Full or Custom key, battle_stats selection will be populated.",
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/UserHofResponse"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "api_key": []
                    }
                ],
                "x-stability": "Stable"
            }
        },
        "/user/{id}/hof": {
            "get": {
                "tags": [
                    "User"
                ],
                "summary": "Get hall of fame rankings for a specific player",
                "description": "Requires public access key. <br>The battle_stats selection will be populated only when requesting selection with Limited, Full or Custom key and for yourself.",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "User id",
                        "required": true,
                        "schema": {
                            "$ref": "#/components/schemas/UserId"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/UserHofResponse"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "api_key": []
                    }
                ],
                "x-stability": "Stable"
            }
        },
        "/user/itemmarket": {
            "get": {
                "tags": [
                    "User"
                ],
                "summary": "Get your item market listings for a specific item",
                "description": "Requires limited access key. <br>",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/ApiOffset"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/UserItemMarketResponse"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "api_key": []
                    }
                ],
                "x-stability": "Stable"
            }
        },
        "/user/jobranks": {
            "get": {
                "tags": [
                    "User"
                ],
                "summary": "Get your starter job positions",
                "description": "Requires minimal access key. <br>",
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/UserJobRanksResponse"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "api_key": []
                    }
                ],
                "x-stability": "Stable"
            }
        },
        "/user/list": {
            "get": {
                "tags": [
                    "User"
                ],
                "summary": "Get your friends, enemies or targets list",
                "description": "Requires limited access key. <br>",
                "parameters": [
                    {
                        "name": "cat",
                        "in": "query",
                        "description": "Select list type",
                        "required": true,
                        "schema": {
                            "$ref": "#/components/schemas/UserListEnum"
                        }
                    },
                    {
                        "$ref": "#/components/parameters/ApiLimit50"
                    },
                    {
                        "$ref": "#/components/parameters/ApiOffsetNoDefault"
                    },
                    {
                        "$ref": "#/components/parameters/ApiSortAsc"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/UserListResponse"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "api_key": []
                    }
                ],
                "x-stability": "Stable"
            }
        },
        "/user/organizedcrime": {
            "get": {
                "tags": [
                    "User"
                ],
                "summary": "Get your current ongoing organized crime",
                "description": "Requires minimal access key. <br>",
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/UserOrganizedCrimeResponse"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "api_key": []
                    }
                ],
                "x-stability": "Stable"
            }
        },
        "/user/personalstats": {
            "get": {
                "tags": [
                    "User"
                ],
                "summary": "Get your personal stats",
                "description": "Requires public access key. <br>\n * UserPersonalStatsFull is returned only when this selection is requested with Limited, Full or Custom key access key.\n * UserPersonalStatsFullPublic is returned when the requested category is 'all'.\n * UserPersonalStatsPopular is returned when the requested category is 'popular'. Please try to use UserPersonalStatsPopular over UserPersonalStatsFullPublic wherever possible in order to reduce the server load.\n * Otherwise, UserPersonalStatsCategory is returned for the matched category.\n * It's possible to request specific stats via 'stat' parameter. In this case the response will vary depending on the stats requested. Private stats are still available only to the key owner (with Limited or higher key).\n * Additionally, historical stats can also be fetched via 'stat' query parameter, but 'timestamp' parameter must be provided as well. It's only possible to pass up to 10 historical stats at once (the rest is trimmed). When requesting historical stats the response will be of type UserPersonalStatsHistoric.",
                "parameters": [
                    {
                        "name": "cat",
                        "in": "query",
                        "description": "Stats category. Required unless requesting specific stats via 'stat' query parameter",
                        "required": false,
                        "schema": {
                            "$ref": "#/components/schemas/PersonalStatsCategoryEnum"
                        }
                    },
                    {
                        "name": "stat",
                        "in": "query",
                        "description": "Stat names (10 maximum). Used to fetch historical stat values",
                        "required": false,
                        "style": "form",
                        "explode": false,
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/components/schemas/PersonalStatsStatName"
                            }
                        }
                    },
                    {
                        "name": "timestamp",
                        "in": "query",
                        "description": "Returns stats until this timestamp (converted to nearest date).",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/UserPersonalStatsResponse"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "api_key": []
                    }
                ],
                "x-stability": "Stable"
            }
        },
        "/user/{id}/personalstats": {
            "get": {
                "tags": [
                    "User"
                ],
                "summary": "Get a player's personal stats",
                "description": "Requires public access key. <br>\n *  UserPersonalStatsFull is returned only when this selection is requested for the key owner with Limited, Full or Custom key.\n *  UserPersonalStatsFullPublic is returned when the requested category is 'all'.\n *  UserPersonalStatsPopular is returned when the requested category is 'popular'. Please try to use UserPersonalStatsPopular over UserPersonalStatsFullPublic wherever possible in order to reduce the server load.\n *  Otherwise, UserPersonalStatsCategory is returned for the matched category.\n *  It's possible to request specific stats via 'stat' parameter. In this case the response will vary depending on the stats requested. Private stats are still available only to the key owner (with Limited or higher key).\n *  Additionally, historical stats can also be fetched via 'stat' query parameter, but 'timestamp' parameter must be provided as well. It's only possible to pass up to 10 historical stats at once (the rest is trimmed). When requesting historical stats the response will be of type UserPersonalStatsHistoric.",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "User id",
                        "required": true,
                        "schema": {
                            "$ref": "#/components/schemas/UserId"
                        }
                    },
                    {
                        "name": "cat",
                        "in": "query",
                        "description": "",
                        "required": false,
                        "schema": {
                            "$ref": "#/components/schemas/PersonalStatsCategoryEnum"
                        }
                    },
                    {
                        "name": "stat",
                        "in": "query",
                        "description": "Stat names (10 maximum). Used to fetch historical stat values",
                        "required": false,
                        "style": "form",
                        "explode": false,
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/components/schemas/PersonalStatsStatName"
                            }
                        }
                    },
                    {
                        "name": "timestamp",
                        "in": "query",
                        "description": "Returns stats until this timestamp (converted to nearest date).",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/UserPersonalStatsResponse"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "api_key": []
                    }
                ],
                "x-stability": "Stable"
            }
        },
        "/user/races": {
            "get": {
                "tags": [
                    "User"
                ],
                "summary": "Get user races",
                "description": "Requires minimal access key. <br>Returns a list of user races, ordered by race start timestamp.",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/ApiLimit100Default20"
                    },
                    {
                        "$ref": "#/components/parameters/ApiSort"
                    },
                    {
                        "$ref": "#/components/parameters/ApiFrom"
                    },
                    {
                        "$ref": "#/components/parameters/ApiTo"
                    },
                    {
                        "name": "cat",
                        "in": "query",
                        "description": "Category of races returned",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "default": "custom",
                            "enum": [
                                "official",
                                "custom"
                            ]
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/UserRacesResponse"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "api_key": []
                    }
                ],
                "x-stability": "Stable"
            }
        },
        "/user/revives": {
            "get": {
                "tags": [
                    "User"
                ],
                "summary": "Get your detailed revives",
                "description": "Requires limited access key. <br>",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/ApiLimit100Default20"
                    },
                    {
                        "$ref": "#/components/parameters/ApiSort"
                    },
                    {
                        "$ref": "#/components/parameters/ApiTo"
                    },
                    {
                        "$ref": "#/components/parameters/ApiFrom"
                    },
                    {
                        "$ref": "#/components/parameters/ApiStripTagsTrue"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/RevivesResponse"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "api_key": []
                    }
                ],
                "x-stability": "Stable"
            }
        },
        "/user/revivesFull": {
            "get": {
                "tags": [
                    "User"
                ],
                "summary": "Get your simplified revives",
                "description": "Requires limited access key. <br>",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/ApiLimit1000Default20"
                    },
                    {
                        "$ref": "#/components/parameters/ApiSort"
                    },
                    {
                        "$ref": "#/components/parameters/ApiTo"
                    },
                    {
                        "$ref": "#/components/parameters/ApiFrom"
                    },
                    {
                        "$ref": "#/components/parameters/ApiStripTagsTrue"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/RevivesFullResponse"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "api_key": []
                    }
                ],
                "x-stability": "Stable"
            }
        },
        "/user/lookup": {
            "get": {
                "tags": [
                    "User"
                ],
                "summary": "Get all available user selections",
                "description": "Requires public access key. <br>",
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/UserLookupResponse"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "api_key": []
                    }
                ],
                "x-stability": "Stable"
            }
        },
        "/user/timestamp": {
            "get": {
                "tags": [
                    "User"
                ],
                "summary": "Get current server time",
                "description": "Requires public access key. <br>",
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/TimestampResponse"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "api_key": []
                    }
                ],
                "x-stability": "Stable"
            }
        },
        "/user": {
            "get": {
                "tags": [
                    "User"
                ],
                "summary": "Get any User selection",
                "description": "Key access level depends on the required selections. <br>Choose one or more selections (comma separated).",
                "parameters": [
                    {
                        "name": "selections",
                        "in": "query",
                        "description": "Selection names",
                        "required": false,
                        "style": "form",
                        "explode": false,
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/components/schemas/UserSelectionName"
                            }
                        }
                    },
                    {
                        "name": "id",
                        "in": "query",
                        "description": "selection id",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "$ref": "#/components/parameters/ApiLimit"
                    },
                    {
                        "$ref": "#/components/parameters/ApiFrom"
                    },
                    {
                        "$ref": "#/components/parameters/ApiTo"
                    },
                    {
                        "$ref": "#/components/parameters/ApiSort"
                    },
                    {
                        "name": "cat",
                        "in": "query",
                        "description": "Selection category",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "stat",
                        "in": "query",
                        "description": "Selection stat",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "$ref": "#/components/parameters/ApiStripTags"
                    },
                    {
                        "$ref": "#/components/parameters/ApiOffsetNoDefault"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "anyOf": [
                                        {
                                            "$ref": "#/components/schemas/UserCrimesResponse"
                                        },
                                        {
                                            "$ref": "#/components/schemas/UserRacesResponse"
                                        },
                                        {
                                            "$ref": "#/components/schemas/UserEnlistedCarsResponse"
                                        },
                                        {
                                            "$ref": "#/components/schemas/UserForumPostsResponse"
                                        },
                                        {
                                            "$ref": "#/components/schemas/UserForumThreadsResponse"
                                        },
                                        {
                                            "$ref": "#/components/schemas/UserForumSubscribedThreadsResponse"
                                        },
                                        {
                                            "$ref": "#/components/schemas/UserForumFeedResponse"
                                        },
                                        {
                                            "$ref": "#/components/schemas/UserForumFriendsResponse"
                                        },
                                        {
                                            "$ref": "#/components/schemas/UserHofResponse"
                                        },
                                        {
                                            "$ref": "#/components/schemas/UserCalendarResponse"
                                        },
                                        {
                                            "$ref": "#/components/schemas/UserBountiesResponse"
                                        },
                                        {
                                            "$ref": "#/components/schemas/UserJobRanksResponse"
                                        },
                                        {
                                            "$ref": "#/components/schemas/UserItemMarketResponse"
                                        },
                                        {
                                            "$ref": "#/components/schemas/UserListResponse"
                                        },
                                        {
                                            "$ref": "#/components/schemas/UserPersonalStatsResponse"
                                        },
                                        {
                                            "$ref": "#/components/schemas/UserOrganizedCrimeResponse"
                                        },
                                        {
                                            "$ref": "#/components/schemas/FactionAttacksResponse"
                                        },
                                        {
                                            "$ref": "#/components/schemas/FactionAttacksFullResponse"
                                        },
                                        {
                                            "$ref": "#/components/schemas/UserLookupResponse"
                                        },
                                        {
                                            "$ref": "#/components/schemas/TimestampResponse"
                                        }
                                    ]
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "api_key": []
                    }
                ],
                "x-stability": "Stable"
            }
        },
        "/faction/applications": {
            "get": {
                "tags": [
                    "Faction"
                ],
                "summary": "Get your faction's applications",
                "description": "Requires minimal access key with faction API access permissions. <br>",
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/FactionApplicationsResponse"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "api_key": []
                    }
                ],
                "x-stability": "Stable"
            }
        },
        "/faction/attacks": {
            "get": {
                "tags": [
                    "Faction"
                ],
                "summary": "Get your faction's detailed attacks",
                "description": "Requires limited access key with faction API access permissions. <br>",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/ApiLimit100"
                    },
                    {
                        "$ref": "#/components/parameters/ApiSortDesc"
                    },
                    {
                        "$ref": "#/components/parameters/ApiTo"
                    },
                    {
                        "$ref": "#/components/parameters/ApiFrom"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/FactionAttacksResponse"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "api_key": []
                    }
                ],
                "x-stability": "Stable"
            }
        },
        "/faction/attacksfull": {
            "get": {
                "tags": [
                    "Faction"
                ],
                "summary": "Get your faction's simplified attacks",
                "description": "Requires limited access key with faction API access permissions. <br>",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/ApiLimit1000"
                    },
                    {
                        "$ref": "#/components/parameters/ApiSortDesc"
                    },
                    {
                        "$ref": "#/components/parameters/ApiTo"
                    },
                    {
                        "$ref": "#/components/parameters/ApiFrom"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/FactionAttacksFullResponse"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "api_key": []
                    }
                ],
                "x-stability": "Stable"
            }
        },
        "/faction/balance": {
            "get": {
                "tags": [
                    "Faction"
                ],
                "summary": "Get your faction's & member's balance details",
                "description": "Requires limited access key with faction API access permissions. <br>",
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/FactionBalanceResponse"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "api_key": []
                    }
                ],
                "x-stability": "Stable"
            }
        },
        "/faction/basic": {
            "get": {
                "tags": [
                    "Faction"
                ],
                "summary": "Get your faction's basic details",
                "description": "Requires public access key. <br> The 'is_enlisted' value will be populated if you have API faction permissions (with custom, limited or full access keys), otherwise it will be set as null.",
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/FactionBasicResponse"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "api_key": []
                    }
                ],
                "x-stability": "Stable"
            }
        },
        "/faction/{id}/basic": {
            "get": {
                "tags": [
                    "Faction"
                ],
                "summary": "Get a faction's basic details",
                "description": "Requires public access key. <br> The 'is_enlisted' value will be populated if you're requesting data for your faction and have faction permissions (with custom, limited or full access keys), otherwise it will be set as null.",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Faction id",
                        "required": true,
                        "schema": {
                            "$ref": "#/components/schemas/FactionId"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/FactionBasicResponse"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "api_key": []
                    }
                ],
                "x-stability": "Stable"
            }
        },
        "/faction/chain": {
            "get": {
                "tags": [
                    "Faction"
                ],
                "summary": "Get your faction's current chain",
                "description": "Requires public access key. <br>",
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/FactionOngoingChainResponse"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "api_key": []
                    }
                ],
                "x-stability": "Stable"
            }
        },
        "/faction/{id}/chain": {
            "get": {
                "tags": [
                    "Faction"
                ],
                "summary": "Get a faction's current chain",
                "description": "Requires public access key. <br>",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Faction id",
                        "required": true,
                        "schema": {
                            "$ref": "#/components/schemas/FactionId"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/FactionOngoingChainResponse"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "api_key": []
                    }
                ],
                "x-stability": "Stable"
            }
        },
        "/faction/chains": {
            "get": {
                "tags": [
                    "Faction"
                ],
                "summary": "Get a list of your faction's completed chains",
                "description": "Requires public access key. <br>",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/ApiLimit100"
                    },
                    {
                        "$ref": "#/components/parameters/ApiSortDesc"
                    },
                    {
                        "$ref": "#/components/parameters/ApiTo"
                    },
                    {
                        "$ref": "#/components/parameters/ApiFrom"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/FactionChainsResponse"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "api_key": []
                    }
                ],
                "x-stability": "Stable"
            }
        },
        "/faction/{id}/chains": {
            "get": {
                "tags": [
                    "Faction"
                ],
                "summary": "Get a list of a faction's completed chains",
                "description": "Requires public access key. <br>",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Faction id",
                        "required": true,
                        "schema": {
                            "$ref": "#/components/schemas/FactionId"
                        }
                    },
                    {
                        "$ref": "#/components/parameters/ApiLimit100"
                    },
                    {
                        "$ref": "#/components/parameters/ApiSortDesc"
                    },
                    {
                        "$ref": "#/components/parameters/ApiTo"
                    },
                    {
                        "$ref": "#/components/parameters/ApiFrom"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/FactionChainsResponse"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "api_key": []
                    }
                ],
                "x-stability": "Stable"
            }
        },
        "/faction/chainreport": {
            "get": {
                "tags": [
                    "Faction"
                ],
                "summary": "Get your faction's latest chain report",
                "description": "Requires public access key. <br> This includes currently ongoing chains.",
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/FactionChainReportResponse"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "api_key": []
                    }
                ],
                "x-stability": "Stable"
            }
        },
        "/faction/{chainId}/chainreport": {
            "get": {
                "tags": [
                    "Faction"
                ],
                "summary": "Get a chain report",
                "description": "Requires public access key. <br> Chain reports for ongoing chains are available only for your own faction.",
                "parameters": [
                    {
                        "name": "chainId",
                        "in": "path",
                        "description": "Chain id",
                        "required": true,
                        "schema": {
                            "$ref": "#/components/schemas/ChainId"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/FactionChainReportResponse"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "api_key": []
                    }
                ],
                "x-stability": "Stable"
            }
        },
        "/faction/contributors": {
            "get": {
                "tags": [
                    "Faction"
                ],
                "summary": "Get your faction's challenge contributors",
                "description": "Requires limiteed access key with faction API access permissions. <br>",
                "parameters": [
                    {
                        "name": "stat",
                        "in": "query",
                        "description": "Get contributors for this field.",
                        "required": true,
                        "schema": {
                            "$ref": "#/components/schemas/FactionStatEnum"
                        }
                    },
                    {
                        "name": "cat",
                        "in": "query",
                        "description": "By default, this selection will return only current faction's member contributions, and the option 'all' will return all contributors.",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "enum": [
                                "all",
                                "current"
                            ]
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/FactionContributorsResponse"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "api_key": []
                    }
                ],
                "x-stability": "Unstable"
            }
        },
        "/faction/crimes": {
            "get": {
                "tags": [
                    "Faction"
                ],
                "summary": "Get your faction's organized crimes",
                "description": "Requires minimal access key with faction API access permissions. <br> It's possible to get older entries either by timestamp range (from, to) or with offset.",
                "parameters": [
                    {
                        "name": "cat",
                        "in": "query",
                        "description": "Category of organized crimes returned. Category 'available' includes both 'recruiting' & 'planning', and category 'completed' includes both 'successful' & 'failure'<br>Default category is 'all'",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "enum": [
                                "all",
                                "recruiting",
                                "planning",
                                "failure",
                                "successful",
                                "expired",
                                "available",
                                "completed"
                            ]
                        }
                    },
                    {
                        "$ref": "#/components/parameters/ApiOffset"
                    },
                    {
                        "$ref": "#/components/parameters/ApiFrom"
                    },
                    {
                        "$ref": "#/components/parameters/ApiTo"
                    },
                    {
                        "$ref": "#/components/parameters/ApiSortDesc"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/FactionCrimesResponse"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "api_key": []
                    }
                ],
                "x-stability": "Stable"
            }
        },
        "/faction/{id}/crime": {
            "get": {
                "tags": [
                    "Faction"
                ],
                "summary": "Get a specific organized crime",
                "description": "Requires minimal access key with faction API access permissions. <br>",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Crime id",
                        "required": true,
                        "schema": {
                            "$ref": "#/components/schemas/ItemId"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/FactionCrimeResponse"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "api_key": []
                    }
                ],
                "x-stability": "Stable"
            }
        },
        "/faction/hof": {
            "get": {
                "tags": [
                    "Faction"
                ],
                "summary": "Get your faction's hall of fame rankings.",
                "description": "Requires public access key. <br> ",
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/FactionHofResponse"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "api_key": []
                    }
                ],
                "x-stability": "Stable"
            }
        },
        "/faction/{id}/hof": {
            "get": {
                "tags": [
                    "Faction"
                ],
                "summary": "Get a faction's hall of fame rankings.",
                "description": "Requires public access key. <br> ",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Faction id",
                        "required": true,
                        "schema": {
                            "$ref": "#/components/schemas/FactionId"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/FactionHofResponse"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "api_key": []
                    }
                ],
                "x-stability": "Stable"
            }
        },
        "/faction/members": {
            "get": {
                "tags": [
                    "Faction"
                ],
                "summary": "Get a list of your faction's members",
                "description": "Requires public access key. <br> The 'revive_setting' value will be populated (not Unknown) if you have faction permissions (with custom, limited or full access keys), otherwise it will be set as 'Unknown'.",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/ApiStripTagsTrue"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/FactionMembersResponse"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "api_key": []
                    }
                ],
                "x-stability": "Stable"
            }
        },
        "/faction/{id}/members": {
            "get": {
                "tags": [
                    "Faction"
                ],
                "summary": "Get a list of a faction's members",
                "description": "Requires public access key. <br> The 'revive_setting' value will be populated (not Unknown) if you're requesting data for your own faction and have faction permissions (with custom, limited or full access keys), otherwise it will be set as 'Unknown'.",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Faction id",
                        "required": true,
                        "schema": {
                            "$ref": "#/components/schemas/FactionId"
                        }
                    },
                    {
                        "$ref": "#/components/parameters/ApiStripTagsTrue"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/FactionMembersResponse"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "api_key": []
                    }
                ],
                "x-stability": "Stable"
            }
        },
        "/faction/news": {
            "get": {
                "tags": [
                    "Faction"
                ],
                "summary": "Get your faction's news details",
                "description": "Requires minimal access key with faction API access permissions. <br> It is possible to pass up to 10 categories at the time (comma separated). Categories 'attack', 'depositFunds' and 'giveFunds' are only available with 'Custom', 'Limited' or 'Full' access keys.",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/ApiStripTagsFalse"
                    },
                    {
                        "$ref": "#/components/parameters/ApiLimit100"
                    },
                    {
                        "$ref": "#/components/parameters/ApiSortDesc"
                    },
                    {
                        "$ref": "#/components/parameters/ApiTo"
                    },
                    {
                        "$ref": "#/components/parameters/ApiFrom"
                    },
                    {
                        "name": "cat",
                        "in": "query",
                        "description": "News category type",
                        "required": true,
                        "schema": {
                            "$ref": "#/components/schemas/FactionNewsCategory"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/FactionNewsResponse"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "api_key": []
                    }
                ],
                "x-stability": "Stable"
            }
        },
        "/faction/positions": {
            "get": {
                "tags": [
                    "Faction"
                ],
                "summary": "Get your faction's positions details",
                "description": "Requires minimal access key with faction API access permissions. <br>",
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/FactionPositionsResponse"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "api_key": []
                    }
                ],
                "x-stability": "Unstable"
            }
        },
        "/faction/rankedwars": {
            "get": {
                "tags": [
                    "Faction"
                ],
                "summary": "Get ranked wars list",
                "description": "Requires public access key. <br> When category 'all' is chosen, you can use 'from', 'to' & 'sort' query parameters.<br>When category 'ongoing' is chosen, all currently active ranked wars are returned.<br>When no category is chosen, this selection will return ranked war history of your own faction (if any).",
                "parameters": [
                    {
                        "name": "cat",
                        "in": "query",
                        "description": "Stats category. Required unless requesting specific stats via 'stat' query parameter",
                        "required": false,
                        "schema": {
                            "$ref": "#/components/schemas/FactionRankedWarsCategoryEnum"
                        }
                    },
                    {
                        "$ref": "#/components/parameters/ApiFrom"
                    },
                    {
                        "$ref": "#/components/parameters/ApiTo"
                    },
                    {
                        "$ref": "#/components/parameters/ApiSortDesc"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/FactionRankedWarResponse"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "api_key": []
                    }
                ],
                "x-stability": "Stable"
            }
        },
        "/faction/{id}/rankedwars": {
            "get": {
                "tags": [
                    "Faction"
                ],
                "summary": "Get a faction's ranked wars history",
                "description": "Requires public access key. <br> ",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Faction id",
                        "required": true,
                        "schema": {
                            "$ref": "#/components/schemas/FactionId"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/FactionRankedWarResponse"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "api_key": []
                    }
                ],
                "x-stability": "Stable"
            }
        },
        "/faction/{id}/rankedwarreport": {
            "get": {
                "tags": [
                    "Faction"
                ],
                "summary": "Get ranked war details",
                "description": "Requires public access key. <br> ",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Ranked war id",
                        "required": true,
                        "schema": {
                            "$ref": "#/components/schemas/RankedWarId"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/FactionRankedWarReportResponse"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "api_key": []
                    }
                ],
                "x-stability": "Stable"
            }
        },
        "/faction/revives": {
            "get": {
                "tags": [
                    "Faction"
                ],
                "summary": "Get your faction's detailed revives",
                "description": "Requires limited access key with faction API access permissions. <br>",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/ApiLimit100"
                    },
                    {
                        "$ref": "#/components/parameters/ApiSortDesc"
                    },
                    {
                        "$ref": "#/components/parameters/ApiTo"
                    },
                    {
                        "$ref": "#/components/parameters/ApiFrom"
                    },
                    {
                        "$ref": "#/components/parameters/ApiStripTagsTrue"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/RevivesResponse"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "api_key": []
                    }
                ],
                "x-stability": "Stable"
            }
        },
        "/faction/revivesFull": {
            "get": {
                "tags": [
                    "Faction"
                ],
                "summary": "Get your faction's simplified revives",
                "description": "Requires limited access key with faction API access permissions. <br>",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/ApiLimit1000"
                    },
                    {
                        "$ref": "#/components/parameters/ApiSortDesc"
                    },
                    {
                        "$ref": "#/components/parameters/ApiTo"
                    },
                    {
                        "$ref": "#/components/parameters/ApiFrom"
                    },
                    {
                        "$ref": "#/components/parameters/ApiStripTagsTrue"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/RevivesFullResponse"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "api_key": []
                    }
                ],
                "x-stability": "Stable"
            }
        },
        "/faction/stats": {
            "get": {
                "tags": [
                    "Faction"
                ],
                "summary": "Get your faction's challenges stats",
                "description": "Requires minimal access key with faction API access permissions. <br>",
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/FactionStatsResponse"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "api_key": []
                    }
                ],
                "x-stability": "Unstable"
            }
        },
        "/faction/upgrades": {
            "get": {
                "tags": [
                    "Faction"
                ],
                "summary": "Get your faction's upgrades",
                "description": "Requires minimal access key with faction API access permissions. <br>",
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/FactionUpgradesResponse"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "api_key": []
                    }
                ],
                "x-stability": "Unstable"
            }
        },
        "/faction/wars": {
            "get": {
                "tags": [
                    "Faction"
                ],
                "summary": "Get your faction's wars & pacts details",
                "description": "Requires public access key. <br> ",
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/FactionWarsResponse"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "api_key": []
                    }
                ],
                "x-stability": "Stable"
            }
        },
        "/faction/{id}/wars": {
            "get": {
                "tags": [
                    "Faction"
                ],
                "summary": "Get a faction's wars & pacts details",
                "description": "Requires public access key. <br> ",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Faction id",
                        "required": true,
                        "schema": {
                            "$ref": "#/components/schemas/FactionId"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/FactionWarsResponse"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "api_key": []
                    }
                ],
                "x-stability": "Stable"
            }
        },
        "/faction/lookup": {
            "get": {
                "tags": [
                    "Faction"
                ],
                "description": "Requires public access key. <br>",
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/FactionLookupResponse"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "api_key": []
                    }
                ],
                "x-stability": "Stable"
            }
        },
        "/faction/timestamp": {
            "get": {
                "tags": [
                    "Faction"
                ],
                "summary": "Get current server time",
                "description": "Requires public access key. <br>",
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/TimestampResponse"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "api_key": []
                    }
                ],
                "x-stability": "Stable"
            }
        },
        "/faction": {
            "get": {
                "tags": [
                    "Faction"
                ],
                "summary": "Get any Faction selection",
                "description": "Key access level depends on the required selections. <br> Choose one or more selections (comma separated).",
                "parameters": [
                    {
                        "name": "selections",
                        "in": "query",
                        "description": "Selection names",
                        "required": false,
                        "style": "form",
                        "explode": false,
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/components/schemas/FactionSelectionName"
                            }
                        }
                    },
                    {
                        "name": "id",
                        "in": "query",
                        "description": "selection id",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "$ref": "#/components/parameters/ApiLimit"
                    },
                    {
                        "$ref": "#/components/parameters/ApiFrom"
                    },
                    {
                        "$ref": "#/components/parameters/ApiTo"
                    },
                    {
                        "name": "cat",
                        "in": "query",
                        "description": "Selection category",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "stat",
                        "in": "query",
                        "description": "Stat category",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "$ref": "#/components/parameters/ApiStripTags"
                    },
                    {
                        "$ref": "#/components/parameters/ApiSort"
                    },
                    {
                        "$ref": "#/components/parameters/ApiOffsetNoDefault"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "anyOf": [
                                        {
                                            "$ref": "#/components/schemas/FactionHofResponse"
                                        },
                                        {
                                            "$ref": "#/components/schemas/FactionMembersResponse"
                                        },
                                        {
                                            "$ref": "#/components/schemas/FactionBasicResponse"
                                        },
                                        {
                                            "$ref": "#/components/schemas/FactionWarsResponse"
                                        },
                                        {
                                            "$ref": "#/components/schemas/FactionNewsResponse"
                                        },
                                        {
                                            "$ref": "#/components/schemas/FactionAttacksResponse"
                                        },
                                        {
                                            "$ref": "#/components/schemas/FactionAttacksFullResponse"
                                        },
                                        {
                                            "$ref": "#/components/schemas/FactionApplicationsResponse"
                                        },
                                        {
                                            "$ref": "#/components/schemas/FactionOngoingChainResponse"
                                        },
                                        {
                                            "$ref": "#/components/schemas/FactionChainsResponse"
                                        },
                                        {
                                            "$ref": "#/components/schemas/FactionChainReportResponse"
                                        },
                                        {
                                            "$ref": "#/components/schemas/FactionCrimesResponse"
                                        },
                                        {
                                            "$ref": "#/components/schemas/FactionCrimeResponse"
                                        },
                                        {
                                            "$ref": "#/components/schemas/FactionRankedWarReportResponse"
                                        },
                                        {
                                            "$ref": "#/components/schemas/FactionUpgradesResponse"
                                        },
                                        {
                                            "$ref": "#/components/schemas/FactionStatsResponse"
                                        },
                                        {
                                            "$ref": "#/components/schemas/FactionContributorsResponse"
                                        },
                                        {
                                            "$ref": "#/components/schemas/FactionLookupResponse"
                                        },
                                        {
                                            "$ref": "#/components/schemas/TimestampResponse"
                                        }
                                    ]
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "api_key": []
                    }
                ],
                "x-stability": "Stable"
            }
        },
        "/forum/categories": {
            "get": {
                "tags": [
                    "Forum"
                ],
                "summary": "Get publicly available forum categories",
                "description": "Requires public access key. <br>",
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ForumCategoriesResponse"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "api_key": []
                    }
                ],
                "x-stability": "Stable"
            }
        },
        "/forum/{threadId}/posts": {
            "get": {
                "tags": [
                    "Forum"
                ],
                "summary": "Get specific forum thread posts",
                "description": "Requires public access key. <br>Returns 20 posts per page for a specific thread.",
                "parameters": [
[...]
